html, body {
  height: 100%;
  background-color: #fff;
}

body {
  color: #222;
  text-align: center;
}

h1 {
  font-size: 10em;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3em !important;
  }
}

.btn-nm {
  color: #fff;
  background-color: #6495ED;
  border-color: #3F70C6;
}

.btn-nm:hover {
  background-color: #2D5292;
  border-color: #264A89;
}

.btn-nm:active {
  background-color: #3C51CD;
  border-color: #1E2D83;
}

.site-wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.site-wrapper-inner {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

#home-content {
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

#home-text-wrapper {
  background-color: rgba(0, 0, 0, 0.42);
  margin-top: 20px; 
  padding: 15px 0px;
  width: 100%;
  height: 25%;
}

@media screen and (max-width: 768px) {
  #home-text-wrapper {
    height: 65%;
  }
}

#home-buttons {
  width: 60%;
  margin: 35px 20%;
}

#home-buttons .btn {
  width: 80%;
  font-size: large;
  width: 100%;
  height: 40px;
}

@media screen and (max-width: 768px) {
  #home-buttons {
    width: 100%;
    margin: 0;
  }
  #home-buttons .btn {
    border-radius: 0px;
    margin-top: 15px;
  }
}

#home-buttons p {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  line-height: 1.5em;
  font-size: 1.3em;
}

#cover-heading {
  font-size: 5em;
  line-height: 0.85em;
  font-family: 'Gotham', 'Source Sans Pro', 'Arial Black', Avenir, Roboto;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -3px;
  margin-bottom: 0.2em;
}

.site-wrapper-inner-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: url('images/web_md_background-city_up.jpg') center fixed;
  background-size: cover;
  z-index: 0;
}

@media screen and (min-device-width: 414px) and (max-device-width: 736px)  {
  .site-wrapper-inner-background {
    background: url('images/web_sm_background-city_up.jpg') center fixed;
  }
}

@media screen and (min-width: 1920px) {
  .site-wrapper-inner-background {
    background: url('images/web_lg_background-city_up.jpg') center fixed;
  }
}